html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main
{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #FFEFD5
}

.clockbox
{
  display: block;
  width: 20em;
  height: 20em;
  margin: auto;
  opacity: 0.9;
  background: white;
  border-radius: 50%;
  border: 0.3em dotted #FFA07A;
}

.center
{
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  background:#FF6347;
  border-radius: 50%;
}

.hand {
  position: absolute;
  left: 50%;
  bottom: 50%; /* bottom - чтобы не зависеть от длины стрелок и не вычитать 180 из поворота */
  transform-origin: bottom center;
}
.hand__second-hand {
  width:0.2em;
  height: 8em;
  margin-left: -0.1em;
  background:#a00;
}
.hand__minute-hand {
  width:0.4em;
  height: 7em;
  margin-left: -0.2em;
  background:#40E0D0;
}
.hand__hour-hand
{
  width:0.6em;
  height: 5em;
  margin-left: -0.3em;
  background: #4682B4;
}


.digit {
  position: absolute;
  display: block;
  color: black;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;

}
.digit__twelve {
   margin: 0 4.4em auto;
}
.digit__three {
  margin: 4.4em 9.1em auto;
}
.digit__six {
  margin: 9em 4.7em auto;
}
.digit__nine {
  margin: 4.4em 0.1em auto;
}
